# Importing Neccesary Libraries to Perform CSV Data Manipulation

In [1]:
import librosa
import librosa.display
import pandas as pd
import numpy as np
import math
import sklearn
import matplotlib.pyplot as plt
import IPython.display as ipd
%matplotlib inline

# Load Data File for Gamestop Stocks & Extract the Desired Data:

In [2]:
dataGME = pd.read_csv('DATA/GME.csv')
dataGME.head()

,date,open_price,high_price,low_price,close_price,volume,adjclose_price
0,2021-01-28,265.000000,483.000000,112.250000,193.600006,58815800.0,193.600006
1,2021-01-27,354.829987,380.000000,249.000000,347.510010,93396700.0,347.510010
2,2021-01-26,88.559998,150.000000,80.199997,147.979996,178588000.0,147.979996
3,2021-01-25,96.730003,159.179993,61.130001,76.790001,177874000.0,76.790001
4,2021-01-22,42.590000,76.760002,42.320000,65.010002,196784300.0,65.010002

In [3]:
# Dataset Acquired From:
#
# https://www.kaggle.com/datasets/hananxx/gamestop-historical-stock-prices

# The Opening price of the stock
openPrice = dataGME.iloc[:, 1]

# The High price of the day
highPrice = dataGME.iloc[:, 2]

# The low price of the day
lowPrice = dataGME.iloc[:, 3]

# The High Price - The Low Price
volatilityPrice = highPrice - lowPrice

# The Closing price of the day
Price = dataGME.iloc[:, 4]

# The amount of stocks traded during that day
Volumes = dataGME.iloc[:, 5]

# Load Data File for AMC Stocks & Extract the Desired Data:

In [4]:
dataAMC = pd.read_csv('DATA/AMC.csv')
dataAMC.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2013-12-18  19.180000  19.790001  18.900000  18.900000  13.593410  5457200
1  2013-12-19  18.900000  19.490000  18.809999  19.490000  14.017754  1605400
2  2013-12-20  19.650000  19.770000  19.400000  19.680000  14.154409   737100
3  2013-12-23  19.790001  19.990000  19.500000  19.740000  14.197562   698100
4  2013-12-24  19.740000  19.820000  19.500000  19.530001  14.046528   213700

In [5]:
# Dataset Acquired From:
#
# https://www.kaggle.com/datasets/varpit94/amc-stock-data

# The High price of the day
highPriceAMC = dataAMC.iloc[:, 2]

# The low price of the day
lowPriceAMC = dataAMC.iloc[:, 3]

# The High Price - The Low Price
volatilityPriceAMC = highPrice - lowPrice

# The Closing price of the day
PriceAMC = dataAMC.iloc[:, 4]

# The amount of stocks traded during that day
VolumesAMC = dataAMC.iloc[:, 6]

# The Date of trading (Converted to a Float by getting rid of hyphens)
dataAMC['Date'] = dataAMC['Date'].str.replace("-","")
dataAMC['Date'] = dataAMC['Date'].astype(float)

# Normalize Values & Map to Desired Output Range

In [6]:
# Normalize Values

def scale(x):

    ampMin = np.amin(x)
    ampMax = np.amax(x)
      
    scaleFactor = 1 / (ampMax - ampMin) 
    
    # Return the normalized signal.
    return (x - ampMin) * (scaleFactor)


# Map the Vector to a desired output range.

def mapToRange(x, lowP, highP):

    pFactors = scale(x)
    
    return pFactors*(highP - lowP) + lowP

# Gamestop Mapping

In [7]:
# Mapping Pitch to Gamestop Volumes
pitches = mapToRange(Volumes, 48, 88)

# Mapping Register to Gamestop Volatility
register = mapToRange(volatilityPrice, 0, 200);

# Mapping Amps to Gamestop Opening Price
amps = mapToRange(openPrice, 2, 4)

# Mapping Tempo to Gamestop Closing Price
tempos = mapToRange(Price, 100, 50)

# Mapping DrumTempo to Gamestop trade Volume
tempoDrum = mapToRange(Volumes, 500, 50)

# AMC Mapping

In [8]:
# Mapping Pitch to AMC Volumes
pitchesAMC = mapToRange(VolumesAMC, 40, 80)

# Mapping Register to AMC Volatility
registerAMC = mapToRange(volatilityPriceAMC, 0, 3)

# Mapping Temp to AMC Closing Price
temposAMC = mapToRange(PriceAMC, 20, 100)

# Mapping DrumTempo to AMC trade Volume
tempoDrumAMC = mapToRange(Volumes, 1, 50)

# Format Data into Note List & Write to Text File to be used in Pure Data

In [9]:
file = open("DATA/FormatedData.txt","a")

# clear the previous text file
file.truncate(0)

# initial note...
noteStrng = "0 pitch " + str(pitches[0]) + "; reg " + str(register[0]) + "; amp " + str(amps[0]) + "; tmpo " + str(tempos[0]) + "; tempoDrum " + str(tempoDrum[0]) + "; pitchAMC " + str(pitchesAMC[0]) + "; regAMC " + str(registerAMC[0]) + "; tmpoAMC " + str(temposAMC[0]) + "; tempoDrumAMC " + str(tempoDrumAMC[0]) + "; \n"
file.writelines(noteStrng)

# the rest of the note list
for indx in range(len(VolumesAMC)):
  i = indx;
  noteStrng = "250 pitch " + str(pitches[indx]) + "; reg " + str(register[indx]) + "; amp " + str(amps[indx]) + "; tmpo " + str(tempos[indx]) + "; tempoDrum " + str(tempoDrum[indx]) + "; pitchAMC " + str(pitchesAMC[indx]) + "; regAMC " + str(registerAMC[indx]) + "; tmpoAMC " + str(temposAMC[indx]) + "; tempoDrumAMC " + str(tempoDrumAMC[indx]) + "; \n"
  file.writelines(noteStrng)

file.close()